.toast-inscription {
	padding-bottom: 20px;
}

.toast {
	background-color: var(--primary-color);
	--bs-toast-max-width: 80%;
	--bs-toast-color: var(--secondary-color);
	--bs-toast-bg: rgba(var(--bs-body-color), 0.85);
	--bs-toast-border-color: var(--secondary-color);
}

.btn-primary {
	--bs-btn-color:var(--primary-color);
}

.nav-tabs {
	--bs-nav-tabs-border-color: var(--secondary-color);
	--bs-nav-tabs-link-hover-border-color: var(--tertiary-color) var(--tertiary-color) var(--tertiary-color);
	--bs-nav-tabs-link-active-color: var(--secondary-color);
	--bs-nav-tabs-link-active-bg: var(--primary-color);
	--bs-nav-tabs-link-active-border-color: var(--secondary-color) var(--secondary-color) var(--secondary-color);
	border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}

.border-top {
	border-top: var(--bs-border-width) var(--bs-border-style) var(--secondary-color) !important;
}

.nav-tabs .nav-link {
	font-size: 1.5rem;
	color: var(--secondary-color);
}

.nav-tabs .nav-link:hover {
	color: var(--tertiary-color);
}