{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    {# Barre de navigation #}
    {% include "account/navbar.html.twig" %}
    
    <main class="container my-5 d-flex justify-content-center align-items-center min-vh-100">
        <section class="toast-container w-100" role="region" aria-labelledby="toast-messages">
            <h2 id="toast-messages" class="sr-only color-primary-custom">Messages de votre compte utilisateur</h2>

            <div class="toast d-flex justify-content-center align-items-center" role="alert" aria-live="polite" aria-atomic="true">
            </div>        
        </section>
    </main>
{% endblock %}