{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    {# Barre de navigation #}
    {% include "account/navbar.html.twig" %}

    <div class="container my-5 d-flex justify-content-center align-items-center min-vh-100">
        <div class="toast d-flex justify-content-center align-items-center">
            
        </div>        
    </div>
{% endblock %}