{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}    
	<div class="toast-inscription d-flex justify-content-center align-items-center">
        <div class="toast fade show w-auto mx-auto" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body">
				<h3>Modification de mon mot de passe</h3>			
                <div class="mt-2 pt-2 border-top">
					{{ form(modifyPwd) }}				
                </div>
            </div>
        </div>
    </div>
{% endblock %}
