{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
    <div class="toast-inscription d-flex justify-content-center align-items-center">
        <div class="toast fade show w-auto mx-auto" role="alert" aria-live="assertive" aria-atomic="true" aria-labelledby="toast-title">
            <div class="toast-body">
                <h3 id="toast-title">Modification de mon mot de passe</h3>			
                <div class="mt-2 pt-2 border-top" aria-label="Formulaire de modification de mot de passe">
                    {{ form(modifyPwd) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
