{# Modal À propos de Loisirs en France #}
<div class="modal fade" id="avisModal" tabindex="-1" aria-labelledby="avisModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="avisModalLabel">Vos avis</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="text-center py-3 color-primary-custom">Vos avis</h3>
                <p>La liste de vos avis !</p>
            </div>
        </div>
    </div>
</div>
