<form name="personalize_birthday_card" method="post" action="/fr/carte-invitation-anniversaire">
    <div class="flex flex-center flex-md-col">
        <div class="card m-3">
            <div class="p-4">
                <div class="flex">
                    <div class="mr-4">
                        <div class="form-floating">
                            <input type="text" id="personalize_birthday_card_firstName" name="personalize_birthday_card[firstName]" required="required">
                            <label for="personalize_birthday_card_firstName" class="required">
                                Prénom
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="form-floating">
                            <input type="text" id="personalize_birthday_card_howOld" name="personalize_birthday_card[howOld]" required="required">
                            <label for="personalize_birthday_card_howOld" class="required">
                                Age
                            </label>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="form-floating">
                        <input type="text" id="personalize_birthday_card_theme" name="personalize_birthday_card[theme]" required="required">
                        <label for="personalize_birthday_card_theme" class="required">
                            Thème
                        </label>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="form-floating">
                        <input type="text" id="personalize_birthday_card_when" name="personalize_birthday_card[when]" required="required">
                        <label for="personalize_birthday_card_when" class="required">
                            Jour et heure du RDV
                        </label>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="form-floating">
                        <textarea id="personalize_birthday_card_where" name="personalize_birthday_card[where]" required="required" rows="3"></textarea>
                        <label for="personalize_birthday_card_where" class="required">
                            Adresse et petite note
                        </label>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="form-floating">
                        <input type="text" id="personalize_birthday_card_phone" name="personalize_birthday_card[phone]" required="required">
                        <label for="personalize_birthday_card_phone" class="required">
                            Téléphone RSVP
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-3 m-sm-0 p-sm-0">
            <div class="p-3 py-4 p-sm-1">
                <div style="max-width: 520px; font-size: 70%;">
                    <div class="w-100">
                        <div class="position-relative">
                            <img src="https://res.cloudinary.com/funbooker/image/upload/v1618900850/website/crayonnes/INVIT.jpg" class="w-100" alt="INVIT">
                            <div class="position-absolute text-center w-100" style="top: 45%;">
                                <div class="text-primary font-weight-bold" style="font-size: 160%;">
                                    Viens fêter mes
                                    <span class="personalize_birthday_card_howOld">
                                        9
                                    </span>
                                    ans lors de mon anniversaire
                                </div>
                            </div>
                            <div class="position-absolute text-center w-100" style="top: 51%;">
                                <div class="text-primary font-weight-bold" style="font-size: 160%;">
                                    “
                                    <span class="personalize_birthday_card_theme">
                                        Harry Potter
                                    </span>
                                    “
                                </div>
                            </div>
                            <div class="position-absolute text-center w-100" style="top: 57%;">
                                <div class="font-weight-bold" style="font-size: 160%;">
                                    <span class="personalize_birthday_card_when">
                                        Le 30 juin à 14h30
                                    </span>
                                </div>
                            </div>
                            <div class="position-absolute text-center w-100" style="top: 63%;">
                                <div class="personalize_birthday_card_where" style="font-size: 125%;">
                                    10 rue Demesmaker, à paris
                                    <br>
                                    Au fond de la cour 3ème étage droite
                                </div>
                            </div>
                            <div class="position-absolute text-center w-100" style="bottom: 20%;">
                                <div style="font-size: 125%;">
                                    Donne ta réponse au :
                                    <span class="personalize_birthday_card_phone">
                                        06 70 86 68 07
                                    </span>
                                </div>
                            </div>
                            <div class="position-absolute text-center w-100" style="bottom: 14%;">
                                <div class="text-primary font-weight-bold" style="font-size: 160%;">
                                    <span class="personalize_birthday_card_firstName">
                                        Alice
                                    </span>
                                </div>
                            </div>
                            <div class="position-absolute text-center w-100" style="bottom: 8%;">
                                <div>
                                    Organisé avec
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-center mt-3">
        <button type="submit" id="personalize_birthday_card_submit" name="personalize_birthday_card[submit]" validator="phone" class="fb-btn fb-btn--primary py-3 py-sm-2 text-white">
            Télécharger mon carton d’invitation
        </button>
    </div>
    <input type="hidden" id="personalize_birthday_card__token" name="personalize_birthday_card[_token]" data-controller="csrf-protection" autocomplete="off" value="6459686bb9d7b4c4a9aab.dOxlXro10RYWGPrnMIW4jSsq8P-m7o_XaLyKtM3ydAg.FpRVOcJjpl0iSbehV_bNtRkZhKn3p96tJsqyw6-wNj0eljVri3KfXl1UmQ">
</form>