<div class="card m-3 m-sm-0 p-sm-0">
    <div class="p-3 py-4 p-sm-1">
        <div style="max-width: 520px; font-size: 70%;">                              
            <div class="w-100">
                <div class="position-relative">
                    <img src="https://res.cloudinary.com/funbooker/image/upload/v1618900850/website/crayonnes/INVIT.jpg" class="w-100" alt="INVIT">

                    <div class="position-absolute text-center w-100" style="top: 45%;">
                        <div class="text-primary font-weight-bold" style="font-size: 160%;">
                            Viens fêter mes <span class="personalize_birthday_card_howOld">42</span> ans lors de mon anniversaire
                        </div>
                    </div>
                    <div class="position-absolute text-center w-100" style="top: 51%;">
                        <div class="text-primary font-weight-bold" style="font-size: 160%;">
                            “<span class="personalize_birthday_card_theme">Soirée déguisée</span>“
                        </div>
                    </div>
                    <div class="position-absolute text-center w-100" style="top: 57%;">
                        <div class="font-weight-bold" style="font-size: 160%;">
                            <span class="personalize_birthday_card_when">28/01/2025 15h30</span>
                        </div>
                    </div>
                    <div class="position-absolute text-center w-100" style="top: 63%;">
                        <div class="personalize_birthday_card_where" style="font-size: 125%;">138 avenue Jean Jaurès<br>95100 Argenteuil</div>
                    </div>
                    <div class="position-absolute text-center w-100" style="bottom: 20%;">
                        <div style="font-size: 125%;">
                            Donne ta réponse au :
                            <span class="personalize_birthday_card_phone">06.03.16.53.51</span>
                        </div>
                    </div>
                    <div class="position-absolute text-center w-100" style="bottom: 14%;">
                        <div class="text-primary font-weight-bold" style="font-size: 160%;">
                            <span class="personalize_birthday_card_firstName">Richard</span>
                        </div>
                    </div>
                    <div class="position-absolute text-center w-100" style="bottom: 8%;">
                        <div>Organisé avec</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>