{# Modal Carte d’invitation Anniversaire #}
<div class="modal fade" id="invitationModal" tabindex="-1" aria-labelledby="invitationModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="invitationModalLabel" aria-live="polite">Créer une Carte d’Invitation d’Anniversaire</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>

            <div class="modal-body">
                <p>Créez et personnalisez votre carte d'invitation en quelques minutes pour un anniversaire mémorable avec Loisirs en France !</p>

                {# Formulaire #}
                <form id="birthdayCardForm" name="personalize_birthday_card" method="POST" enctype="multipart/form-data">
                    {# Prénom #}
                    <div class="row g-3">
                        <div class="bg-primaryBlue border-secondary-custom p-3 mb-3 col-md-6">
                            <label for="personalize_birthday_card_firstName" class="form-label color-secondary-custom required">Prénom</label>
                            <input type="text" id="personalize_birthday_card_firstName" name="personalize_birthday_card[firstName]" class="form-control" required placeholder="Veuillez entrer votre prénom">
                        </div>

                        {# Âge #}
                        <div class="bg-primaryBlue border-secondary-custom p-3 mb-3 col-md-6">
                            <label for="personalize_birthday_card_howOld" class="form-label color-secondary-custom">Âge</label>
                            <input type="number" id="personalize_birthday_card_howOld" name="personalize_birthday_card[howOld]" class="form-control" required placeholder="Veuillez indiquer votre âge">
                        </div>

                        {# Thème #}
                        <div class="bg-primaryBlue border-secondary-custom p-3 mb-3">
                            <label for="personalize_birthday_card_theme" class="form-label color-secondary-custom">Thème de l'anniversaire</label>
                            <input type="text" id="personalize_birthday_card_theme" name="personalize_birthday_card[theme]" class="form-control" required placeholder="Veuillez indiquer un thème">
                        </div>

                        {# Date et Heure #}
                        <div class="bg-primaryBlue border-secondary-custom p-3 mb-3">
                            <label for="personalize_birthday_card_when" class="form-label color-secondary-custom">Jour et heure du rendez-vous</label>
                            <input type="datetime-local" id="personalize_birthday_card_when" name="personalize_birthday_card[when]" class="form-control" required>
                        </div>

                        {# Adresse #}
                        <div class="bg-primaryBlue border-secondary-custom p-3 mb-3">
                            <label for="personalize_birthday_card_where" class="form-label color-secondary-custom">Adresse et note</label>
                            <textarea id="personalize_birthday_card_where" name="personalize_birthday_card[where]" class="form-control" rows="3" required placeholder="Veuillez indiquer votre adresse et vos notes"></textarea>
                        </div>

                        {# Téléphone #}
                        <div class="bg-primaryBlue border-secondary-custom p-3 mb-3">
                            <label for="personalize_birthday_card_phone" class="form-label color-secondary-custom">Téléphone</label>
                            <input type="tel" id="personalize_birthday_card_phone" name="personalize_birthday_card[phone]" class="form-control" placeholder="Veuillez indiquer votre numéro de téléphone" required>
                        </div>
                    </div>

                    {# Affichage de la carte d'invitation #}
                    <div class="bg-primaryBlue border-secondary-custom text-center p-3 mb-3 d-flex justify-content-center">
                        <div style="max-width: 520px; font-size: 70%;">
                            <div class="w-100 d-flex justify-content-center">
                                <div class="position-relative">
                                    <img src="{{ asset ('img/carte-invitation.png') }}" class="w-100" style="max-width: 100%; height: auto;" alt="Carte d'invitation">

                                    {# Aperçu Âge #}
                                    <div class="position-absolute text-center w-100" style="top: 30%;">
                                        <div class="px-4" style="font-size: 160%;">
                                            Viens fêter mes 
                                            <span id="preview_howOld" class="personalize_birthday_card_howOld">42</span> 
                                            ans lors de mon anniversaire
                                        </div>
                                    </div>

                                    {# Aperçu Thème #}
                                    <div class="position-absolute text-center w-100" style="top: 45%;">
                                        <div class="color-tertiary-custom" style="font-size: 160%;">
                                            <span id="preview_theme" class="personalize_birthday_card_theme">Soirée déguisée</span>
                                        </div>
                                    </div>

                                    {# Aperçu Date et Heure #}
                                    <div class="position-absolute text-center w-100" style="top: 52%;">
                                        <div class="color-tertiary-custom" style="font-size: 160%;">
                                            <span id="preview_when" class="personalize_birthday_card_when">28/01/2025 15h30</span>
                                        </div>
                                    </div>

                                    {# Aperçu Adresse #}
                                    <div class="position-absolute text-center w-100" style="top: 60%;">
                                        <div id="preview_where" class="personalize_birthday_card_where" style="font-size: 125%;">
                                            138 avenue Jean Jaurès
                                            <br>
                                            95100 Argenteuil
                                        </div>
                                    </div>

                                    {# Aperçu Téléphone #}
                                    <div class="position-absolute text-center w-100" style="bottom: 23%;">
                                        <div class="px-3" style="font-size: 125%;">
                                            Donne ta réponse au :
                                            <span id="preview_phone" class="personalize_birthday_card_phone">06.03.16.53.51</span>
                                        </div>
                                    </div>

                                    {# Aperçu Prénom #}
                                    <div class="position-absolute text-center w-100" style="bottom: 17%;">
                                        <div class="color-tertiary-custom" style="font-size: 160%;">
                                            <span id="preview_firstName" class="personalize_birthday_card_firstName">Richard</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Bouton de soumission #}
                    <div class="bg-primaryBlue border-secondary-custom text-center p-3 mb-3">
                        <button type="submit" id="personalize_birthday_card_submit" class="btn btn-primary color-primary-custom">Télécharger mon carton d’invitation</button>
                    </div>
                </form>

                {# Conseils pour une invitation réussie #}
                <h3 class="color-primary-custom mt-5">Conseils pour une invitation réussie</h3>
                <ul>
                    <li>Indiquez clairement toutes les informations importantes (date, heure, lieu, thème).</li>
                    <li>Personnalisez le design en fonction du thème pour captiver les invités.</li>
                    <li>Ajoutez une touche humoristique ou personnelle pour rendre l'invitation mémorable.</li>
                </ul>

                <p class="mt-3">Avec Loisirs en France, organisez des anniversaires uniques et mémorables grâce à des activités adaptées à tous les âges et thèmes. Profitez de nos options variées pour faire de cette journée un souvenir inoubliable !</p>
            </div>
        </div>
    </div>
</div>