{# Modal Mentions légales #}
<div class="modal fade" id="legalModal" tabindex="-1" aria-labelledby="legalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="legalModalLabel">Mentions légales</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {# Créateur du site #}
            <div class="modal-body">
                <ul class="list-group d-flex align-items-center bg-primaryBlue border-secondary-custom p-3">
                    <li class="list-group-item"><p class="fs-4">Le site www.loisirsenfrance.com est édité par la société :</p></li>
                    <li class="list-group-item w-100"><hr  class="divider border-secondary-custom"></li>
                    <li class="list-group-item"><h5 class="modal-title">SAS Haridou</h5></li>
                    <li class="list-group-item"><p>138 avenue Jean Jaurès</p></li>
                    <li class="list-group-item"><p>95100 Argenteuil</p></li>
                    <li class="list-group-item w-100"><hr  class="divider border-secondary-custom"></li>
                    <li class="list-group-item"><p>N° SIRET : 50309800600029</p></li>
                    <li class="list-group-item"><p>Téléphone : 06 03 16 53 51</p></li>
                    <li class="list-group-item"><p>Email : contact@loisirsenfrance.com</p></li>
                    <li class="list-group-item"><p>Gérant : Richard Bonnegent</p></li>
                </ul>
            </div>
            {# Hébergement #}
            <div class="modal-body">
                <ul class="list-group d-flex align-items-center bg-primaryBlue border-secondary-custom p-3">
                    <li class="list-group-item"><h2 class="modal-title">Hébergement</h2></li>                    
                    <li class="list-group-item"><p>L’hébergement est assuré par la société :</p></li>
                </ul>
            </div>
            {# Éditeur du site #}
            <div class="modal-body">
                <ul class="list-group d-flex align-items-center bg-primaryBlue border-secondary-custom p-3">
                    <li class="list-group-item"><h2 class="modal-title">Nom de la société</h2></li>
                    <li class="list-group-item"><p>adresse de la société</p></li>
                    <li class="list-group-item"><p>code postal Ville</p></li>
                </ul>
            </div>
            {# Données personnelles #}
            <div class="modal-body">
                <ul class="list-group d-flex align-items-center bg-primaryBlue border-secondary-custom p-3">
                    <li class="list-group-item"><h2 class="modal-title">Information concernant
                    les données</h2></li>
                    <li class="list-group-item w-100"><hr  class="divider border-secondary-custom"></li>
                    <li class="list-group-item"><p>Conformément à la loi « informatique et libertés » du 6 janvier 1978  modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à la  société Loisirs en France,  par mail (contact@loisirsenfrance.com) ou par courrier (9  boulevard Gouvion-Saint-Cyr, 75 017 Paris). Vous pouvez également vous opposer au traitement des données vous concernant en nous le signalant aux adresses précédemment  mentionnées. Le Site a fait l’objet d’une déclaration auprès de la  Commission Nationale Informatique et Libertés (CNIL) sous le numéro  2101743.</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>