{# Modal À propos de Loisirs en France #}
<div class="modal fade" id="messagesModal" tabindex="-1" aria-labelledby="messagesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="messagesModalLabel">Vos messages</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="text-center py-3 color-primary-custom">Listes de vos messages</h3>
                <p>Voici vos messages !</p>
            </div>
        </div>
    </div>
</div>
