{# Modal À propos de Loisirs en France #}
<div class="modal fade" id="panierModal" tabindex="-1" aria-labelledby="panierModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="panierModalLabel">Mon panier</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="text-center py-3 color-primary-custom">Liste d'achat</h3>
                <p>Bienvenue sur Loisirs en France, voici votre panier !</p>
            </div>
        </div>
    </div>
</div>
