{# Modal Réservation #}
<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="reservationModalLabel">Mes réservations</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="text-center py-3 color-primary-custom">Mon historique</h3>
                <p>Voici vos activités !</p>
            </div>
        </div>
    </div>
</div>
