/* Variables SCSS centralisées */
:root {
    
    --background-color: #F8F4E3;
    --primary-color: #2984B4;
    --secondary-color: #FFDC7E;
    --tertiary-color: #FF9B7E;
    --hover-color: #73B8DD;
    --box-shadow: rgba(0, 0, 0, 0.3);
    --box-shadowPlus: rgba(0, 0, 0, 0.4);
    --bs-font-dancing-script: 'Dancing Script', serif;
    --bs-font-pt-serif: 'PT Serif', serif;
    --bs-body-bg: var(--background-color);
    --bs-body-color: var(--primary-color);
    --bs-tertiary-bg-rgb:  41,132,180;
    --bs-border-color: var(var(--secondary-color));
}

.bg-primaryBlue {
    background-color: var(--primary-color);
}

.bg-hoverBlue {
    background-color: var(--hover-color);
}

.bg-secondaryYellow {
    background-color: var(--secondary-color);
}

.bg-background {
    background-color: var(--background-color);
}

.color-primary-custom {
    color: var(--primary-color);
}

.color-secondary-custom {
    color: var(--secondary-color);
}

.color-tertiary-custom {
    color: var(--tertiary-color);
}

.border-secondary-custom {
    border: 2px solid var(--secondary-color);
    border-radius:10px;
}

.border-secondary-custom-top {
    border-top: 2px solid var(--secondary-color);
}

.border-hover-custom {
    border: 2px solid var(--hover-color);
    border-radius:10px;
}

.border-radius {
    border-radius:10px;
}

@media (max-width: 576px) { /* Pour les écrans sm et plus petits */
    .fs-sm-4 {
      font-size: 1.25rem !important; /* Ajuste selon tes besoins */
    }
}

/* Réinitialisation de base */
body {
    font-family: var(--bs-font-pt-serif);
    padding-top: var(--bs-navbar-height, 100px)
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

.form-check-input:focus {
    border-color: var(--secondary-color);
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(var(--secondary-color).25);
}

.form-check-input:checked[type="checkbox"] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23FFDC7E' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.custom-shadow {
    text-shadow: 2px 2px 4px var(--bs-box-shadow);
}

.custom-shadow-hover {
    text-shadow: 3px 3px 6px var(--bs-box-shadow-lg);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--bs-font-dancing-script);
    color: var(--secondary-color);
}

.fixed-square {
    width: 100%; /* L'image s'adapte à la largeur de son conteneur */
    height: 0;
    padding-top: 100%; /* Définit une hauteur proportionnelle pour former un carré */
    position: relative;
}

.fixed-square img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Remplit le carré sans déformer l'image */
}



.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFDC7E'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFDC7E'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-indicators [data-bs-target] {
    background-color: #FFDC7E;
}

.badge {
    --bs-badge-color: var(--secondary-color);
}

.badge-sm {
    --bs-badge-font-size: 0.6em !important;
    --bs-badge-padding-x: 0.4em !important;
    --bs-badge-padding-y: 0.2em !important;
}

.badge-lg {
    --bs-badge-font-size: 1em !important;
    --bs-badge-padding-x: 0.8em !important;
    --bs-badge-padding-y: 0.4em !important;
}