@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Cookie&display=swap');

/* Variables CSS centralisées */
:root {
    --background-color: #F8F4E3;
    --primary-color: #2984B4;
    --secondary-color: #FFDC7E;
    --tertiary-color: #FF9B7E;
    --hover-color: #73B8DD;
    --box-shadow: rgba(0, 0, 0, 0.3);
    --box-shadowPlus: rgba(0, 0, 0, 0.4);
    --font-primary: 'Cookie', cursive;
    --font-secondary: 'PT Serif', serif;
    --focus-outline-hover: 2px solid var(--hover-color);
    --focus-outline-secondary: 2px solid var(--secondary-color);
}

/* Réinitialisation de base */
body {
    background-color: var(--background-color);
    font-family: var(--font-secondary);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* Utilitaire global pour ombre et transitions */
.shadow-hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }
}