/** Footer Styles **/

/* Footer Background */
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Footer h5, h6 */
.footer h5, .footer h6 {
    font-family: var(--font-primary);
    font-size: 32px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px var(--box-shadow);
}

/* Footer Links */
.footer a {
    font-family: var(--font-secondary);
    color: var(--secondary-color);
    text-decoration: none;
    text-shadow: 1px 1px 2px var(--box-shadow);
    transition: all 0.3s ease-in-out;
}

/* Effets interactifs */
.footer a:hover {
    color: var(--tertiary-color);
    text-decoration: underline;
    text-shadow: 2px 2px 4px var(--box-shadowPlus);
    transform: scale(1.2);
}

.footer a:active {
    color: var(--hover-color) !important;
    text-shadow: 1px 1px 2px var(--box-shadow);
    transform: scale(0.98);
}

.footer a:focus {
    color: var(--hover-color);
    text-shadow: 2px 2px 4px var(--box-shadowPlus);
}

/* Footer Contact P */
.contact p {
    margin: 5px 0;
    font-family: var(--font-secondary);
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px var(--box-shadow);
}

/* Footer Contact a */
.contact a {
    display: inline-block;
    padding: 8px 12px;
    background-color: var(--tertiary-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    border-radius: 10px;
    box-shadow: 2px 2px 5px var(--box-shadow);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

/* Effets interactifs */
.contact a:hover {
    background-color: var(--secondary-color);
    color: var(--hover-color);
    border-color: var(--hover-color);
    box-shadow: 3px 3px 6px var(--box-shadowPlus);
}

.contact a:active {
    color: var(--hover-color) !important;
    box-shadow: 2px 2px 5px var(--box-shadow);
    transform: scale(0.98);
}

.contact a:focus {
    color: var(--hover-color);
    box-shadow: 3px 3px 6px var(--box-shadowPlus);
}

/* Footer i */
.footer i {
    font-size: 24px;
    color: var(--secondary-color);
    text-shadow: 1px 1px 2px var(--box-shadow);
    transition: all 0.3s ease-in-out;
}

/* Effets interactifs */
.footer i:hover {
    color: var(--tertiary-color);
    text-shadow: 2px 2px 4px var(--box-shadowPlus);
    transform: scale(1.2);
}

.footer i:active {
    color: var(--hover-color) !important;
    text-shadow: 1px 1px 2px var(--box-shadow);
    transform: scale(0.98);
}

.footer i:focus {
    color: var(--hover-color);
    text-shadow: 2px 2px 4px var(--box-shadowPlus);
}
